<div id="skills" class="skills section">
    <div class="title">
        <h1 appVisible>{{'skills-header' | translate | uppercase}}</h1>
    </div>
    <section>
        <div class="row" *ngFor="let i of [].constructor(20)">
            <div>
                <i class="devicon-angularjs-plain"></i>
                <i class="devicon-typescript-plain"></i>
                <i class="devicon-spring-plain"></i>
                <i class="devicon-javascript-plain"></i>
                <i class="devicon-java-plain-wordmark"></i>
                <i class="devicon-postgresql-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-ansible-plain-wordmark"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-git-plain"></i>
                <i class="devicon-sass-original"></i>
                <i class="devicon-docker-plain-wordmark"></i>
                <i class="devicon-nodejs-plain-wordmark"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-nginx-original-wordmark"></i>
                <i class="devicon-angularjs-plain"></i>
                <i class="devicon-typescript-plain"></i>
                <i class="devicon-spring-plain"></i>
                <i class="devicon-javascript-plain"></i>
                <i class="devicon-java-plain-wordmark"></i>
                <i class="devicon-postgresql-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-ansible-plain-wordmark"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-git-plain"></i>
                <i class="devicon-sass-original"></i>
                <i class="devicon-docker-plain-wordmark"></i>
                <i class="devicon-nodejs-plain-wordmark"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-nginx-original-wordmark"></i>
            </div>
            <div>
                <i class="devicon-angularjs-plain"></i>
                <i class="devicon-typescript-plain"></i>
                <i class="devicon-spring-plain"></i>
                <i class="devicon-javascript-plain"></i>
                <i class="devicon-java-plain-wordmark"></i>
                <i class="devicon-postgresql-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-ansible-plain-wordmark"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-git-plain"></i>
                <i class="devicon-sass-original"></i>
                <i class="devicon-docker-plain-wordmark"></i>
                <i class="devicon-nodejs-plain-wordmark"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-nginx-original-wordmark"></i>
                <i class="devicon-angularjs-plain"></i>
                <i class="devicon-typescript-plain"></i>
                <i class="devicon-spring-plain"></i>
                <i class="devicon-javascript-plain"></i>
                <i class="devicon-java-plain-wordmark"></i>
                <i class="devicon-postgresql-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-ansible-plain-wordmark"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-git-plain"></i>
                <i class="devicon-sass-original"></i>
                <i class="devicon-docker-plain-wordmark"></i>
                <i class="devicon-nodejs-plain-wordmark"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-nginx-original-wordmark"></i>
            </div>
        </div>
        <!--<div class="row">
            <i class="devicon-angularjs-plain colored"></i>
        </div>
        <div class="row">
            <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="row">
            <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="row">
            <i class="devicon-spring-plain colored"></i>
        </div>
        <div class="row">
            <i class="devicon-java-plain-wordmark colored"></i>
        </div>
        <div class="row">
            <i class="devicon-postgresql-plain-wordmark colored"></i>
        </div>
        <div class="row">
            <i class="devicon-ansible-plain-wordmark"></i>
        </div>-->
    </section>
</div>