<div id="socials" class="socials section">
    <div class="title">
        <h1 appVisible>{{'socials-header' | translate | uppercase}}</h1>
    </div>
    <ul>
        <li title="Github">
            <a href="https://github.com/nunoaleixogoncalves">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </li>
        <li title="Linkedin">
            <a href="https://www.linkedin.com/in/nunoaleixogoncalves/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
        <li title="Google Email">
            <a href="mailto:nunoaleixogoncalves@gmail.com">
                <i class="fa fa-google" aria-hidden="true"></i>
            </a>
        </li>
        <li title="Instagram">
            <a href="https://www.instagram.com/ipyk_">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>