<div id="contact" class="contact section">
    <div class="title">
        <h1 appVisible>{{'contact-header' | translate | uppercase}}</h1>
    </div>
    <form action="https://api.web3forms.com/submit" method="POST" id="form" class="contact-form" #contactForm="ngForm"
        appVisible (inView)="inView = true" [@fade]="inView">

        <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
        <input type="hidden" name="access_key" [value]="mailkey" />
        <input type="hidden" name="subject" value="New Message from website NG" />

        <span class="contact-form-title">
            {{'contact' | translate}}
        </span>
        <div class="name-input">
            <input class="input" id="name" type="text" name="name" placeholder="Name" [(ngModel)]="contact.name"
                required>
            <label for="name" class="label"> {{'contact-name' | translate}}</label>
        </div>
        <div class="email-input">
            <input class="input" id="email" type="email" name="email" placeholder="Email" [(ngModel)]="contact.email"
                required>
            <label for="email" class="label">Email</label>
        </div>
        <div class="message-input">
            <textarea class="text-area" id="message" name="message" [(ngModel)]="contact.message" required></textarea>
            <label for="message" class="label"></label>
        </div>
        <div class="container">
            <button class="button" role="button" type="submit" [disabled]="!contactForm.valid"> {{'contact-button' |
                translate}}</button>
        </div>
    </form>
</div>