@import "../../../assets/scss/variables.scss";

.content {
  position: relative;
  z-index: 1;
}

.scroll-btn {
  background-color: $gray2;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 70px;
  right: 100px;
  z-index: 1;
  &:hover {
    box-shadow: 0px 0px 5px #888888;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .scroll-btn {
    bottom: 25px;
    right: 20px;
  }
}
